on: [push, pull_request]

jobs:
  python-lint:
    runs-on: ubuntu-latest
    name: CI workflow
    steps:
    - name: checkout source repo
      uses: actions/checkout@v2

    - name: linting
      uses: programmingwithalex/pylinters@v1.4.2
      with:
        python-root: '.'
        flake8-flags: '--max-line-length 120'
        mypy-flags: '--ignore-missing-imports'
        fail-on-isort: false

    - name: commit isort changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git config --global --add safe.directory /github/workspace
        git add -A && git diff-index --cached --quiet HEAD || git commit -m 'ci(linting): isort'
    - name: push isort changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GH_ACCESS_TOKEN }}
        branch: ${{ github.ref }}
    - name: Codecov
      uses: codecov/codecov-action@v3.1.0
